<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <!-- Weblogic不支持*,**等通配符 -->
	<!-- <import resource="classpath:config/web/spring/spring-scan-bean.xml" />
	<import resource="classpath:config/system/spring/spring-datasource.xml" />
    <import resource="classpath:config/system/spring/spring-druid.xml" /> -->
	<import resource="classpath:config/spring-scan.xml" />
	<import resource="classpath:config/spring-mybatis.xml" />
	<import resource="classpath:config/spring-hibernate.xml" />
	<!-- <import resource="classpath:config/web/util/spring-util.xml" /> -->
	<!--cache-->
	<!-- <import resource="classpath:config/web/cache/spring-redis.xml" /> -->
	
	<!-- <import resource="classpath:config/web/i18n/spring-i18n.xml" />
	<import resource="classpath:config/web/jbpm/spring-jbpm.xml" />
	<import resource="classpath:config/web/refer/spring-refer.xml" />
	<import resource="classpath:config/web/spring/spring-mail.xml" />
	<import resource="classpath:config/common/ftp/spring-ftp.xml" /> -->
	<!--接口监控-->
	<!-- <import resource="classpath:config/system/spring/spring-monitor.xml" /> -->
	<!--后台定时任务-->
<!-- 	<import resource="classpath:config/web/spring/spring-quartz-config.xml" /> -->

</beans>  