/* General styles that apply to elements not contained within other classes and styles */
html,body,form {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
select, 
input[type="file"]
{
  line-height:15px !important;
}
label {
  white-space: nowrap;
}